@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}


body {
 margin: 0;
 border: 0;
 font-family: OpenSans, sans-serif;
 line-height: 1.2;
-webkit-appearance: none;
-moz-appearance: none;
}

header, main {
	max-width: 1440px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
  font-size: 76px;
  color: #00A67C;
  margin: 0;
  font-weight: 600;
  text-transform: none;
}

h2 {
  font-size: 47px;
  line-height: 54px;
  color: #000000;
  margin: 0;
  font-weight: 400;
  text-transform: none;
}

h3 {
  font-size: 29px;
  line-height: 54px;
  color: #00A67C;
  margin: 0;
  font-weight: 600;
  text-transform: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*----------------------- header ----------------------*/

.header-container {
	display: block;
	position: relative;
	margin-top: 20px;
	margin-left: 6.6%;
	margin-right: 6.6%;
}

.slogan {
  font-size: 29px;
  line-height: 1.1;
  color: #00A67C;
  margin: 0;
  padding-top: 70px;
  font-weight: 600;
  text-transform: none;
}

.header_line {
	display: block;
	margin-top: 70px;
	width: 100%;
	height: 3px;
	background-color: #00A67C;

}

/*----------------------- menu ----------------------*/
.hamburger-menu {
  display: flex;
  position: absolute;
  top: 0;
  right: 400px;
}

#menu__toggle {
 visibility: hidden;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 130px;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 370px;
  width: 55px;
  height: 10px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 4px;
  background-color: #00A67C;

}
.menu__btn > span::before {
  content: '';
  top: -21px;
}
.menu__btn > span::after {
  content: '';
  top: 21px;
}

.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: -10px;
  left: 100%;
  width: 300px;
  margin: 0;
  padding: 60px 0 5px 0;
  list-style: none;
  background-color: #F7FDFB;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 12px 14px;
  color: #00A67C;
  text-align: right;
  font-size: 47px;
  font-weight: 400;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #E7F9F4;
}

/*--------------------------main----------------*/

.exclusive {
	display: block;
	position: relative;
	margin-top: 70px;
	margin-left: 6.6%;
	margin-right: 6.6%;
	z-index: -1;
}

.grand_img_container {
	max-width: 1200px;
	width: 100%
	padding-top: 40px;
}

.exclusive_content {
  max-width: 920px;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  padding-top: 30px;
  margin: 0 auto 0 auto;
  font-weight: 400;
  text-transform: none;
}

/*--------------------------subscription selection----------------*/


.subscription_selection {
    display: block;
	padding-top: 70px;
}

.news_selection_color_box {
	display: block;
	padding-top: 70px;
	background-color: #F7FDFB;
	padding-bottom: 50px;
}

.news_selection, .regions_selection, .news{
	display: block;
	position: relative;
	margin-top: 0px;
	margin-left: 6.6%;
	margin-right: 6.6%;
}

/* tags colections */

.subscription_text {
  font-size: 29px;
  line-height: 54px;
  color: #00A67C;
  margin: 0;
  font-weight: 600;
  text-transform: none;

}

.sections_subscription_list, .news_subscription_list  {
  padding-top: 70px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  color: #00A67C;
  display: flex;
  flex-wrap: wrap;
}


.news_subscription_item input[type="checkbox"] {
  display: none;
  transition: 0.5s;
}

.news_subscription_item label {
  font-size: 27px;
  padding-left: 20px;
  transition: 0.3s;
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row; 
  border: 3px solid #00A67C;
  border-radius: 10px;
  padding: 10px 35px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.news_subscription_item label::before {
  width: 15px;
  vertical-align: top;
  content: "+";
  margin-right: 10px;
}

.news_subscription_list input[type="checkbox"]:checked + label, .sections_subscription_list input[type="checkbox"]:checked + label{
  color: #ffffff;
  background: #00A67C;
}

.news_subscription_list input[type="checkbox"]:checked + label::before, .sections_subscription_list input[type="checkbox"]:checked + label::before{
  content: 'V';
 
::selection {
   background: transparent;
}
::-moz-selection {
   background: transparent;
}

}

.regions_selection_color_box {
	display: block;
	padding-top: 70px;
	background-color: #E7F9F4;
	padding-bottom: 50px;
}

.subscription_color_box {
    display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 70px;
	background-color: #AFE8DA;
	padding-bottom: 50px;
}

.subscription-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subscription-text {
	font-size: 47px;
	font-weight: 400;
}

.email_field {
	box-sizing: border-box;
    font-size: 27px;
    text-transform: lowercase;
    text-align: center;
    font-weight: 200;
    width: 100%;
    max-width: 526px;
    margin-top: 50px;
    height: 70px;
    border: none;
    border-radius: 10px;

}

.email_field:focus {
  border: 3px solid #00A67C;
  outline: none;
  border-radius: 10px;
  
}

.subscription_button {
	display: inline-block;
	font-size: 27px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 10px;
    text-align: center;
    font-weight: 400;
    width: 100%;
    max-width: 526px;
    margin-top: 55px;
    height: 70px;
    background-color: #00A67C;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.subscription_button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*-------news sections--------------- */

.news {
 display: flex;
 padding-bottom: 50px;
 border-bottom: 1px #00A67C solid;
 margin-top: 61px; 
}


.news:last-child {
   border  none;
 }

.news_content {
	width: 50%;
}

.news_title {
  font-size: 29px;
  line-height: 54px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 30px;
}

.news_title a {
  text-decoration: none;
  color: #000000;
}

.tags-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  }

.news-tags-item {
  margin-right: 13px;
}

.news-tags {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  }

.news-text {
 margin-top: 20px;
 font-size: 18px;
 line-height: 27px;
 font-weight: 400;
 text-transform: none;
 color: #000000; 
}

.news_img_block {
 max-width: 50%;
 width: 100%;
 height: 100%;
 margin-right: 30px;
}

.news_img {
  max-width: 430px;

} 

.news-date {
 font-size: 18px;
 font-weight: 600; 
 color: #000000;
 margin-left: 20px;
  
}
.autor {
  font-size: 18px;
  font-weight: 400;
   text-transform: lowercase;
   color: #000000; 
}

.news_subscription_list {
	padding-top: 30px;
}

/*------------------------footer-------------------------*/

@media (max-width: 960px) and (min-width: 416px) {
}

@media (max-width: 415px) {

header, main {
	max-width: 400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
  font-size: 27px;
   
}

h2 {
  font-size: 23px;
  line-height: 32px;
 }

h3 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

.header-container {

	margin-top: 16px;
	
}

.slogan {
  font-size: 16px;
  line-height: 22px;
  padding-top: 28px;
 }

.header_line {
	margin-top: 40px;
	width: 100%;
	height: 2px;
}

.hamburger-menu {
  display: flex;
  position: absolute;
  top: 0;
  right: 400px;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 230px;
}

.menu__btn {
  top: 10px;
  left: 390px;
  width: 30px;
 
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    height: 3px;
  }

.menu__btn > span::before {
  content: '';
  top: -12px;
}
.menu__btn > span::after {
  content: '';
  top: 12px;
}

.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: -10;
  left: 100%;
  width: 200px;
  margin: 0;
  padding: 40px 0 50px 0;
  list-style: none;
  background-color: #F7FDFB;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 10px 12px;
  color: #00A67C;
  text-align: right;
  font-size: 23px;
  font-weight: 400;
  text-decoration: none;
}


.exclusive {
	margin-top: 30px;
	}

.grand_img_container {
	max-width: 410px;
	padding-top: 16px;
}

.exclusive_content {
  max-width: 410px;
  padding-top: 30px;
  font-weight: 200;
}

.subscription_selection {
    display: block;
	padding-top: 20px;
}

.news_selection_color_box {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

.news_selection, .regions_selection, .news{
	display: block;
	position: relative;
	margin-top: 0px;
	margin-left: 6.6%;
	margin-right: 6.6%;
}

.subscription_text {
  font-size: 18px;
  line-height: 32px;
  color: #00A67C;
  font-weight: 400;

}

.sections_subscription_list, .news_subscription_list  {
  padding-top: 10px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  color: #00A67C;
  display: flex;
  flex-wrap: wrap;
}


.news_subscription_item input[type="checkbox"] {
  display: none;
  transition: 0.5s;
}

.news_subscription_item label {
  font-size: 18px;
  padding-left: 20px;
  transition: 0.3s;
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row; 
  border: 2px solid #00A67C;
  border-radius: 10px;
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.news_subscription_item label::before {
  width: 10px;
  vertical-align: top;
  content: "+";
  margin-right: 5px;
}

.regions_selection_color_box {
	display: block;
	padding-top: 20px;
	background-color: #E7F9F4;
	padding-bottom: 20px;
}

.subscription_color_box {
    display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	background-color: #AFE8DA;
	padding-bottom: 45px;
}

.subscription-group {
	display: flex;
	 width: 90%;
	flex-direction: column;
	align-items: center;
}

.subscription-text {
	font-size: 18px;
	font-weight: 400;
}

.email_field {
	box-sizing: border-box;
    font-size: 18px;
    text-transform: lowercase;
    text-align: center;
    font-weight: 200;
    width: 100%;
    margin-top: 18px;
    height: 55px;
    border: none;
    border-radius: 10px;

}

.email_field:focus {
  border: 3px solid #00A67C;
  outline: none;
  border-radius: 10px;
  
}

.subscription_button {
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 6.67px;
    text-align: center;
    font-weight: 400;
    width: 90%;
    max-width: 526px;
    margin-top: 18px;
    height: 55px;
    background-color: #00A67C;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.news_content {
	width: 100%;
}

.news_img_block  {
    max-width: 100%;
}

}